.FoodButtons1 button{
    position:absolute;
    left: 715px;
    top: 535px;
    height: 200px;
    width: 180px;
    background: none;
}

.FoodButtons2 button{
    position: absolute;
    left: 910px;
    top: 535px;
    height: 200px;
    width: 180px;
    background: none;
}

.FoodButtons3 button{
    position: absolute;
    left: 1105px;
    top: 535px;
    height: 200px;
    width: 190px;
    background: none;
}

.FoodButtons4 button{
    position: absolute;
    left: 1310px;
    top: 535px;
    height: 200px;
    width: 190px;
    background: none;
}