.SettingsTitle{
    color: white;
    position: absolute;
    left: 95px;
    top: 180px;
    font-size: 15px;
    font-weight: bold;
}

.SettingsScreen{
    color: white;
    position: absolute;
    left: 95px;
    top: 230px;
    font-size: 20px;
}

